/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
    /* Primary */
    --clr-red-300: hsl(0 100% 74%);
    --clr-green-300: hsl(154 59% 51%);

    /* Accent */
    --clr-blue-500: hsl(248 32% 49%);

    /* Neutral */
    --clr-dark-blue-800: hsl(249 10% 26%);
    --clr-grayish-blur-100: hsl(246 25% 77%);

    /* Font families */
    --ff-main: 'Poppins', sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* CSS Reset Start */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding as well as enable all elements to inherit the font */
* {
    font: inherit;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    min-height: 100dvh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Remove the smooth scrolling for users that prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

/* Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}
/* CSS Reset End */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

body {
    background-color: var(--clr-red-300);
    background-image: url(./images/bg-intro-mobile.png);
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 1.2rem;
    padding-top: 4.5rem;
}

.product__title {
    color: #fff;
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    letter-spacing: -0.018rem;
    line-height: 2.25rem;
    text-align: center;
}

.product__text {
    color: #fff;
    font-weight: var(--fw-medium);
    margin-top: 1rem;
    text-align: center;
    padding: 0 .5rem;
    line-height: 1.625rem;
}

.product__signup {
    margin: 2.75rem 0;
}

.product__trial {
    background-color: var(--clr-blue-500);
    border-radius: .5rem;
    color: #fff;
    font-size: 0.938rem;
    line-height: 1.625rem;
    text-align: center;
    width: 100%;
    padding: 1.2rem 4rem;
    letter-spacing: 0.017rem;
}

.bolder {
    font-weight: var(--fw-bold);
}

.product__form-place {
    background-color: #fff;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1.3rem 1.8rem;
    
}

.product__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input:not([class="submit"]) {
    margin-bottom: 1.3rem;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
}

::placeholder {
    font-weight: var(--fw-semibold);
    letter-spacing: .016rem;
    line-height: 1.625rem;
}

input[class="submit"] {
    border: 0;
    border-radius: .5rem;
    color: #fff;
    font-weight: var(--fw-semibold);
    background-color: var(--clr-green-300);
    padding: 1rem;
    width: 100%;
}

input[class="submit"]:is(:hover, :focus) {
    cursor: pointer;
}

.privacy-info {
    color: var(--clr-grayish-blur-100);
    font-size: .688rem;
    font-weight: var(--fw-medium);
    line-height: 1.313rem;
    margin-top: .8rem;
    text-align: center;
    padding: 0 1rem;
}

.privacy-info a {
    text-decoration: none;
    color: var(--clr-red-300);
    font-weight: var(--fw-bold);
}

@media (min-width: 1024px) {    
    body {
        background-image: url(./images/bg-intro-desktop.png);
    }
    
    main {
        flex-direction: row;
        justify-content: flex-end;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .product__signup {
        margin: 6rem;
    }

    .product__form-place {
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-width: 38rem;
    }

    .product__description {
        margin-left: 1em;
        margin-right: 5rem;
    }

    .product__title {
        font-weight: var(--fw-bold);
        font-size: 3.125rem;
        line-height: 3.438rem;
        letter-spacing: -0.033rem;
        text-align: left;
    }

    .product__text {
        text-align: left;
        /* margin-left: .5em; */
        font-weight: var(--fw-medium);
        line-height: 1.625rem;
    }
}
